<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Conditional Statements</h1>
	<h1>
		User is <span th:text="${isActive} ? 'Active' : 'Not Active'"></span>
	</h1>
	<h1 th:if="${gender}=='M'">Male</h1>
	<h1 th:unless="${gender}=='M'">Female</h1>
	<div th:switch="${#lists.size(myList)}">
		<h1 th:case="'0'">List Contain Zero Elements</h1>
		<h1 th:case="'1'">List Contains One Element</h1>
		<h1 th:case="*">List contains more than one elements</h1>
	</div>

</body>
</html>