<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Footer Template</title>
</head>
<body>
	<footer id="fragmentTag" th:fragment="footer1(title,subTitle)">
		<div class="container">
			<h1 th:text="${title}"></h1>
			<h1 th:text="${subTitle}"></h1>
			<h1>This is footer</h1>
			<h1>Testing Testing ....</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet impedit veniam velit asperiores reprehenderit rem error iste aspernatur officia necessitatibus sed ipsa ipsum commodi deleniti laborum adipisci et alias consectetur autem eum facilis quis esse voluptas blanditiis molestias totam eaque quibusdam. Maxime saepe aperiam laboriosam dolores sit accusantium alias quam.</p>
			
		</div>
	</footer> 
</body>
</html>